@font-face { font-family: webly; src: url(../assets/fonts/segoe.ttf)}
section { min-height: 100vh; height: auto; position: relative; font-family: 'Segoe UI', webly, helvetica, sans-serif; line-height: 1.3; }
a { text-decoration: none; color: white; }
.wrapper { overflow: hidden; }

/* -- Home Section ---------------------------------- */
#home {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Video Background */
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.15);
}

/* Main Title */
@font-face { font-family: second; src: url(../assets/fonts/second.ttf)}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  z-index: 1000;
  position: relative;
  top: -50px;
}
.main-title {
  color: white;
  font-family: second, helvetica, sans-serif;
  font-size: 5rem;
}
.custom-spacing { margin-left: 50px; }
.mobile-main-title { display: none; }

/* Social Icons */
.social-icons {
  position: absolute;
  top: 80%;
}
.social-icons fa-icon {
  font-size: 5rem;
  color: white;
  padding: 10px 20px;
  margin-left: 1vw;
  cursor: pointer;
}
.social-icons fa-icon:hover {
  color: #202020;
  background-color: white;
}

/* -- About Section --------------------------------- */
.background {
  position: relative;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
.course-card-container {
  font-family: 'Segoe UI', webly, helvetica, sans-serif; 
  line-height: 1.3;
  margin-bottom: 2vh; 
}
.card {
  position: relative;
  top: 8vh;
  height: auto;
  width: 40vw;
  margin: 0 auto;
  background-color: rgba(255,255,255,.8);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-img {
  height: 35vh;
  width: 35vh;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 2px 5px 10px 4px rgba(0,0,0,.25);
}
.card-body {
  padding: 0 1.2rem;
}
.card-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem; 
  width: 100%; 
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}
.card-text {
  line-height: 1.5;
  font-size: 1.4rem;
  margin-top: 0;
  text-align: justify;
}
.card-button {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background-color: #00c7ff;
  padding: .5rem;
  margin-top: 2vh;
  margin-bottom: 2vh; 
  border-radius: 5px; 
  box-shadow: 0 0.3rem rgba(0,0,0,.65);
  width: 33%;
  position: absolute;
  left: 33%;
}
#resume-button {
  border-radius: 10px;
  box-shadow: 0 .3rem #ff00de;
}
#resume-button:hover {
  transform: none;
}
#resume-button:active {
  transform: translate(0, .3rem);
  box-shadow: 0 .1rem rgba(0, 0, 0, 0.65);
}
.spacer {
  height: 7vh;
  display: block;
}

/* -- Projects Section ------------------------------ */
#projects { background-color: black; }
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
}
.projects-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.project-group-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-group-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10vh;
}
.project-img img {
  height: 425px;
  width: 425px;
  transition: all 0.3s ease-in-out;
}
.project-img img:hover {
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}
.project-item {
  text-align: center;
}
.project-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 auto;
}
.project-title a:hover {
  color: rgb(201,22,22);
  transition: all 0.3s ease-in-out;
}
.github-link {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1vh;
}
.github-link a:hover {
  color: rgb(201,22,22);
  transition: all 0.3s ease-in-out;
}

/* -- Contact Section ------------------------------- */
@font-face { font-family: kaushan; src: url(../assets/fonts/kaushan.ttf) }
#contact { 
  background-color: black;
  display: flex;
  justify-content: center;
}
.contact-mail {
  position: absolute;
  color: white;
  height: 100px;
  font-family: kaushan, helvetica, sans-serif;
  font-size: 4.5rem;
  margin-top: 10vh;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.contact-mail:hover {
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}
#video-background-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
.red {
  color: rgb(201,22,22);
}
.business-card {
  height: 100vh;
  width: auto; 
}

/* -- Footer Section -------------------------------- */
#footer {
  background-color: black;
  min-height: unset;
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons fa-icon {
  font-size: 2rem;
  margin-left: 1vw;
}
.footer-icons fa-icon:hover {
  color: rgb(201,22,22);
}
.footer-text {
  color: rgba(255,255,255,.8);
  text-align: center;
}

/* -------------------- Media Queries ----------------------- */

/* Monitor - No Bookmarks Bar */
@media screen and (min-width: 1800px) and (min-height: 938px) {
  .main-title { top: 310px; }
}

/* Monitor - Fullscreen */
@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .wrapper { overflow-x: hidden; }
  .main-title { top: 360px; }
  .card { padding: 5rem 1.5rem; }
  #footer { height: 180px; }
}

/* Laptop - Bookmarks Bar */
@media screen and (max-width: 1800px) {
  .main-title { top: 26%; left: 225px; }
  .card { top: 4vh; }
  .card-title { font-size: 2.2rem; }
  .card-text { font-size: 1.2rem; }
  .project-img img { height: 375px; width: 375px; }
}

/* Laptop - No Bookmarks Bar */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 760px) {
}

/* Laptop - Fullscreen */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 800px) {
  .wrapper { overflow-x: hidden; }
  .main-title { top: 28%; }
  .card { top: 8vh; }
}

/* Laptop - 1366 x 768 - Bookmarks Bar */
@media screen and (width: 1366px) {
  .card-text { font-size: 1rem; }
  .main-title { font-size: 4rem; top: 28%; left: 225px; }
  .social-icons fa-icon { font-size: 4rem; padding: 5px 10px; }
  .card { width: 60vw; top: 8vh; }
  .project-img img { height: 300px; width: 300px; }
  .contact-mail { font-size: 4rem; }
}

/* Laptop - 1366 x 768 - No Bookmarks Bar */
@media screen and (width: 1366px) and (min-height: 720px) {
  .main-title { top: 30%; }
}

/* Laptop - 1366 x 768 - Fullscreen */
@media screen and (width: 1366px) and (min-height: 759px) {
  .wrapper { overflow-x: hidden; }
  .card { top: 9vh; }
}

/* 1080P Monitor (150%) */
@media screen and (max-width: 1300px) {
  .main-title { font-size: 5rem; }
  .card { width: 50vw; }
  .project-img img { height: 330px; width: 330px; }
  .contact-mail { font-size: 4rem; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  /* Home --------------- */
  video { object-fit: cover; }
  #video-background { height: 100vh; width: 100vw; }
  .main-title { font-size: 3rem; left: 170px; top: 300px; }
  .custom-spacing { margin-left: 30px; }
  .social-icons { top: 80%; }
  .social-icons fa-icon { font-size: 2.8rem; padding: 5px 10px; }
  /* About -------------- */
  .card { width: 70vw; top: 5vh; }
  .project-img img { height: 270px; width: 270px; }
  #video-background-2 { height: 100vh; width: 100vw; }
  .footer-icons fa-icon { margin-left: 20px; }
}

/* iPad - Vertical */
@media screen and (max-width: 769px) {
  /* Home --------------- */
  video { object-fit: cover; }
  #video-background { height: 100vh; width: 100vw; }
  .main-title { top: 230px; left: 97px; font-size: 5rem; text-align: center;  }
  .custom-spacing { margin-left: 30px; }
  .mobile-main-title { display: initial; }
  .social-icons { top: 85%; }
  .social-icons fa-icon { font-size: 4rem; padding: 5px 15px; }
  /* About -------------- */
  .card { width: 70vw; top: 9vh; }
  .card-title { font-size: 2.2rem; }
  .about-img { height: 30vh; width: 30vh; }
  .projects { margin: 0 2%; position: relative; top: 8vh; }
  .projects-title { font-size: 2.5rem; }
  .project-img img { height: 245px; width: 245px; }
  .project-title { font-size: 1.3rem; }
  #video-background-2 { height: 100vh; width: 100vw; }
  .footer-icons fa-icon { margin-left: 20px; }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  /* Home --------------- */
  video { object-fit: cover; }
  #video-background { height: 100vh; width: 100vw; }
  #video-background-2 { height: 100vh; width: 100vw; }
  .main-title { top: 230px; left: 40px; font-size: 3rem; text-align: center; opacity: 1; }
  .custom-spacing { margin-left: 10px; }
  .mobile-main-title { display: initial; }
  .social-icons { top: 85%; }
  .social-icons fa-icon { font-size: 2.3rem; padding: 5px 10px; }
  /* About -------------- */
  .card { width: 100vw; background-color: rgba(255,255,255,.7); top: 0; }
  .card-text { font-size: 1.1rem; }
  .card-title { font-size: 1.3rem; }
  .card-button { width: 40%; left: 30%; font-weight: bold; padding: .5rem; font-family: sans-serif; }
  /* Projects ----------- */
  .projects-title { font-size: 2rem; margin-top: -5px; }
  .project-img img { height: 388px; width: 388px; }
  .github-link { margin-top: 2vh; }
  /* Contact/Footer */
  .contact-mail { font-size: 2.3rem; }
  .footer-icons fa-icon { margin-left: 20px; }
}

/* Large Smartphone (Horizontal) */
@media screen and (max-width: 850px) and (max-height: 500px) {
  /* Home ----------------- */
  .main-title { font-size: 2rem; top: 130px; left: 185px; }
  .mobile-main-title { display: none; }
  .custom-spacing { margin-left: 30px; }
  .social-icons { top: 80%; }
  .social-icons fa-icon { font-size: 2.8rem; padding: 5px 10px; }
  /* About ---------------- */
  .card { width: 80%; top: 0; }
  .card-text { font-size: 1.1rem; }
  .card-title { font-size: 2.2rem; }
  .about-img { height: 50vh; width: 50vh; }
  /* Projects ------------- */
  .projects { margin: 0 2%; }
  .projects-title { font-size: 2rem; }
  .project-img img { height: 245px; width: 245px; }
  .project-title { font-size: 1.1rem; margin-top: 1vh; }
  .github-link { font-size: 1rem; margin-top: 3vh; }
  /* Contact/Footer */
  .contact-mail { font-size: 3rem; margin-top: 5vh; }
  .footer-icons fa-icon { margin-left: 20px; }
}

/* iPhone X - Horizontal*/
@media screen and (max-width: 724px) and (max-height: 376px) {
  .project-title { font-size: 1.2rem; }
  .github-link { font-size: 1rem; }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .main-title { left: 22px; }
  .card { height: fit-content; }
  .card-text { font-size: 1.05rem; }
  .card-button { font-size: 1.1rem; }
  .projects-title { font-size: 1.8rem; }
}

/* iPhone 6/7/8 */
@media screen and (max-width: 376px) and (max-height: 668px) {
  .main-title { top: 185px; }
}

/* iPhone 6/7/8 - Browser UI */
@media screen and (max-width: 376px) and (max-height: 600px) {
  .main-title { top: 135px; }
}

/* iPhone 6/7/8 - Horizontal */
@media screen and (max-width: 668px) and (max-height: 376px) {
  .main-title { left: 108px; }
  .projects-title { margin-top: -20px; }
  .project-img img { height: 210px; width: 210px; }
  .project-title { font-size: 1rem; }
  .github-link { font-size: 1rem; }
}

/* iPhone 5 */
@media screen and (max-width: 330px) {
  .main-title { font-size: 2.5rem; top: 150px; }
  .social-icons fa-icon { font-size: 2rem; }
  .card-button { width: 46%; left: 28%; }
  .contact-mail { font-size: 2rem; }
}