<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>
  <!-- Home Section ---------------------------------->
  <section id="home">

    <!-- Video Background -->
    <video loop muted autoplay id="video-background">
      <source src="../assets/img/lines.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>

    <!-- Main Title -->
    <div class="title-container">
      <h1 class="main-title">Jacinto<span class="custom-spacing"><span class="mobile-main-title"><br></span>Design</span></h1>
    </div>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="https://github.com/JacintoDesign" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" style="margin-left: 0;" title="Github"></fa-icon></a>
      <a href="https://codepen.io/jacintodesign/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://www.linkedin.com/in/jacintowong/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="LinkedIn"></fa-icon></a>
      <a href="https://medium.com/@jacintowong" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://www.instagram.com/mynameisjacinto/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://www.youtube.com/channel/UCVCoT9NT5doRz0CnW-jUj_w" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
    </div>
  </section>
  <!-- About Section --------------------------------->
  <div class="background">
    <div class="course-card-container" id="about">
      <div class="card">
        <img src="../assets/img/ZTM-logo.png" alt="Zero To Mastery Logo" class="about-img">
        <div class="card-body">
          <h1 class="card-title">Zero To Mastery: <br>VanillaJS Projects Course</h1>
          <p class="card-text">I'm very happy to share an incredible course that I produced for the Zero To Mastery Academy. The course covers modern Javascript, but also includes some insight into the design process, all through 20 unique projects that I'll show you how to customize! This is the perfect course if you're looking to build your web development portfolio! Check it out today!</p>
          <a href="https://academy.zerotomastery.io/p/javascript-projects?affcode=441520_7lacw2wa" target="_blank" rel="noopener">
            <div class="card-button" id="resume-button">View Course</div>
          </a>
          <div class="spacer"></div>
        </div>
      </div>
    </div>
    <section>
      <div class="card">
        <img src="../assets/img/neon-logo.png" alt="Jacinto Design Logo" class="about-img">
        <div class="card-body">
          <h1 class="card-title"></h1>
          <p class="card-text">Built on the three pillars of modern web development, you will see the difference with Jacinto Design. Projects are created to be responsive, fast, and concise. My multi-disciplinary background ensures a unique approach to design. I believe that with the proper branding, aesthetics, and UI anyone can stand out with a quality web app that will attract more than a passing glance.</p>
          <a routerLink="/resume" routerLinkActive="active" (click)="scrollToTop()">
            <div class="card-button" id="resume-button">View Resume</div>
          </a>
          <div class="spacer"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- Projects Section ------------------------------>
  <section id="projects">
    <div class="projects">
      <h1 class="projects-title">Click to View Projects</h1>
      <div class="project-group-1">
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Jacinto Design"><img src="../assets/img/projects/jacintodesign-s8.png" alt="Jacinto Design"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Jacinto Design</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/jacinto-design" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://falcon-brewing-company.web.app/" title="Falcon Brewery"><img src="../assets/img/projects/falcon-s8-alt.png" alt="Falcon Brewery"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://falcon-brewing-company.web.app/">Falcon Brewery</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/falcon-brewery" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://smart-brain--app.herokuapp.com/" title="SmartBrain App"><img src="../assets/img/projects/smartbrain-s8.png" alt="SmartBrain App"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://smart-brain--app.herokuapp.com/">SmartBrain App</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/smart-brain-api/" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
      <div class="project-group-2">
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacintodesign.github.io/quote-generator/" title="Quote Generator"><img src="../assets/img/projects/quote-s8.png" alt="Quote Generator"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacintodesign.github.io/quote-generator/">Quote Generator</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/quote-generator/" title="View Github Repository">Github</a></h6>
          </div>
        </article> 
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacintodesign.github.io/thriving-cities/" title="Thriving Cities"><img src="../assets/img/projects/thriving-cities-s8.png" alt="Thriving Cities"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacintodesign.github.io/thriving-cities/">Thriving Cities</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/thriving-cities/" title="View Github Repository">Github</a></h6>
          </div>
        </article>       
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto-design-cube.firebaseapp.com/" title="ThreeJS Basic"><img src="../assets/img/projects/threejs-s8.png" alt="ThreeJS Basic"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto-design-cube.firebaseapp.com/">ThreeJS Sample</a></h4>
            <h6 class="github-link"><a href="https://github.com/JacintoDesign/three-js-basic" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- Contact Section ------------------------------->
  <section id="contact">

    <!-- Mail to Link -->
    <a href="mailto:contact@jacinto.design" class="contact-mail" target="_blank" rel="noopener">
      contact<span class="red">@</span>jacinto.design
    </a>

    <!-- Video Background -->
    <video loop muted autoplay id="video-background-2">
      <source src="../assets/img/rings.m4v" type="video/mp4">
    </video>

  </section>
  <!-- Footer Section -------------------------------->
  <section id="footer">
    <div class="footer-icons">
      <a href="https://github.com/JacintoDesign" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" style="margin-left: 0;" title="Github"></fa-icon></a>
      <a href="https://codepen.io/jacintodesign/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://www.linkedin.com/in/jacintowong/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="LinkedIn"></fa-icon></a>
      <a href="https://medium.com/@jacintowong" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://www.instagram.com/mynameisjacinto/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://www.youtube.com/channel/UCVCoT9NT5doRz0CnW-jUj_w" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
      <p class="footer-text">Jacinto Design - 2021</p>
    </div>
  </section>
</div>
