a, li { text-decoration: none; }
.desktop-nav { display: initial; }
.display-none { display: none; }
#menu-bars { display: none; }
#mobile-nav { display: none; }
@font-face { font-family: webly; src: url(../../../assets/fonts/segoe.ttf)}

/* Sidebar */
.sidebar-container {
    position: fixed;
    display: initial;
    height: 30vh; 
    width: 350px;
    z-index: 10;
    /* background-color: dodgerblue; */
}
.sidebar-toggle {
    text-transform: uppercase;
    font-size: 2rem; 
    font-family: webly, 'Segoe UI', sans-serif;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 112px;
    margin: 40px;
    padding: 10px; 
}
.sidebar-items {
    position: fixed;
    z-index: 10;
    list-style: none;
    font-size: 3rem;
    top: -8px; 
}
.sidebar-items li {
    text-transform: uppercase;
    font-family: webly, 'Segoe UI', sans-serif;
    cursor: pointer;
    padding: 2px 14px 5px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
.sidebar-items li:hover {
    color: rgba(0,0,0,.85);
    background-color: #fbfbfb;
    transition: .3s;
}

@media screen and (max-width: 1800px) {
    .sidebar-toggle { margin: 20px; }
    .sidebar-items { left: -20px; top: -24px; font-size: 2.75rem; }
}

/* ---------- Media Queries ----------- */

/* Mobile Navigation */
@media screen and (max-width: 1080px) {
    .sidebar-container, .sidebar-toggle, .desktop-nav { display: none; }
    #menu-bars { display: initial; }
    #mobile-nav { display: initial; }

    /* Navigation */
    .mobile-nav {
        position: fixed;
        top: -300px;
        left: -50px;
        width: 113%;
        z-index: 10;
        transition: 0.5s ease;
    }
    .nav-expand {
        top: -16px;
        transition: 0.3s ease;
    }
    .nav-items {
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
    }
    .nav-items li {
        text-transform: uppercase;
        font-family: webly, 'Segoe UI', sans-serif;
        padding: 10px;
        margin-left: 10px;
        background-color: rgba(0,0,0,.85);
    }
    .mobile-nav a { 
        color: white; 
    }
    .mobile-nav a:hover {
        color: rgba(0,0,0,.85);
        background-color: #fbfbfb;
    }
    .nav-items li:hover {
        color: rgba(0,0,0,.85);
        background-color: #fbfbfb;
    }

    /* Hamburger Menu */
    .menu-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 12;
    } 
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-top: 1px solid rgba(0,0,0,.5);
    border-left: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }
    /* Rotate first bar */
    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    /* Fade out the second bar */
    .change .bar2 {
    opacity: 0;
    }
    /* Rotate last bar */
    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .mobile-nav { width: 113%; }
}