<div class="resume-wrapper">
<div class="background"></div>
<!-- Navigation  ----------------------------------------------------------->
<nav class="resume-nav" id="resume-nav">
    <ul>
        <li class="logo"><a href="#">
        <div class="img-logo">
            <img class="rounded-img" src="../../../assets/img/jacinto-wong.jpg" alt="Jacinto Wong" title="Visit Jacinto Design" />
        </div></a></li>
        <li><a href="/resume#intro">About</a></li>
        <li><a href="/resume#experience">Experience</a></li>
        <li><a href="/resume#education">Education</a></li>
        <li><a href="../../../assets/img/jacinto-graphic-design.pdf">Portfolio</a></li>
        <li><a href="/resume#skills">Skills</a></li>
        <li><a href="/resume#interests">Interests</a></li>
        <li><a href="/resume#awards">Awards</a></li>
    </ul>
</nav>
<!-- About ----------------------------------------------------------------->
<section id="intro">
    <div class="about-content content-padding">
    <h1 class="main-title title"><strong>Jacinto
        <span class="red">Wong</span></strong>
    </h1>
    <div class="sub-title title">Greater Toronto Area · Canada · <br>
        <a href="mailto:contact@jacinto.design">contact@jacinto.design</a>
    </div>
    <p class="main-text main">I am currently working as a Senior Developer at CBC. I've created full-stack projects with React, Node servers, and databases with PostgreSQL. I have a strong foundation in design, education, and music that influences my work. I am very good at solving problems and I look forward to future challenges and expanding my knowledge and skills. 
    </p>
    <ul class="social-icons">
        <li class="icons no-margin-left">
        <a href="https://github.com/JacintoDesign" target="_blank" rel="noopener" title="Github">
            <fa-layers [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'github']" class="icon"></fa-icon>
            </fa-layers>
        </a>
        </li>
        <li class="icons">
        <a href="https://codepen.io/jacintodesign/" target="_blank" rel="noopener" title="Codepen">
            <fa-layers [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'codepen']" class="icon"></fa-icon>
            </fa-layers>
        </a>
        </li>
        <li class="icons">
        <a href="https://www.linkedin.com/in/jacintowong/" target="_blank" rel="noopener" title="Linkedin">
            <fa-layers [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'linkedin']" class="icon" id="linkedin"></fa-icon>
            </fa-layers>
        </a>
        </li>
        <li class="icons">
        <a href="https://medium.com/@jacintowong" target="_blank" rel="noopener" title="Medium">
            <fa-layers [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'medium']" class="icon" id="medium"></fa-icon>
            </fa-layers>
        </a>
        </li>
        <li class="icons">
        <a href="https://www.instagram.com/mynameisjacinto/" target="_blank" rel="noopener" title="Instagram">
            <fa-layers [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'instagram']" class="icon" id="instagram"></fa-icon>
            </fa-layers>
        </a>
        </li>
        <!-- <li class="icons">
        <a href="https://www.youtube.com/user/mynameisjacinto" target="_blank" rel="noopener" title="Youtube">
            <fa-layers [fixedWidth]="true" class="icons">
                <fa-icon [icon]="['fas', 'circle']" class="circle red"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'youtube']" class="icon" id="youtube"></fa-icon>
            </fa-layers>
        </a>
        </li> -->
    </ul>
    </div>
</section>
<!-- Experience  ------------------------------------------------------------>
<section id="experience">
    <div class="experience-content content-padding">
    <h2 class="section-title title">Experience</h2>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">Senior Developer</h3>
        <h4 class="item-subtitle title">Canadian Broadcasting Corporation (CBC)</h4>
        <p class="item-text main">Working on internal web applications, specializing in design and front-end development with Angular. Most of my focus is on UI/UX, including mock-ups using Sketch and a focus on advanced CSS and responsive design principles.</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">June 2018 - Present</p>
        </div>
    </div>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">Designer/Developer</h3>
        <h4 class="item-subtitle title">Jacinto Design</h4>
        <p class="item-text main">Learning and expanding my skills in web development, I have made several projects and websites. I am comfortable with new technologies and am able to learn very efficiently. My most recent project was a full-stack application that I created using React.js, Node.js, and PostgreSQL.</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">January 2018 - Present</p>
        </div>
    </div>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">Educator</h3>
        <h4 class="item-subtitle title">Urban International School</h4>
        <p class="item-text main">I taught English, Music, and Communications Technology at a private high school in Toronto where I helped students write and record their own songs, make short films, create video games, and discover the city through urban photography. My biggest contribution was the design and production of two yearbooks.</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">January 2016 - August 2017</p>
        </div>
    </div>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">Project Coordinator</h3>
        <h4 class="item-subtitle title">Namsan High School</h4>
        <p class="item-text main">During my time living and working in South Korea, I led an advanced English class focused on writing and conversation, which culminated in the creation and design of Evergreen Magazine. One thousand copies were printed and it helped boost student engagement with English.</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">April 2014 - April 2015</p>
        </div>
    </div>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">E.P.I.K. Teacher</h3>
        <h4 class="item-subtitle title">Dogye Middle School</h4>
        <p class="item-text main">I worked at middle schools in Changwon through the government-led English Program in Korea. I expanded my horizons and learned to become a more flexible and resourceful individual. I taught over 2000 students and provided engaging material to all levels of English.</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">January 2013 - April 2015</p>
        </div>
    </div>

    <div class="item-wrapper" style="padding-bottom: 30px">
        <div class="item">
        <h3 class="item-title title">Graphic Designer/Editor</h3>
        <h4 class="item-subtitle title">York University</h4>
        <p class="item-text main">I coordinated with a team of other editors and designers to create the monthly edition of Pro Tem at Glendon College. I consistently met deadlines with attention to detail while seamlessly combining content and form. Additionally, I went on to create Pandora magazine in 2008.</p>
        </div>
        <div class="item-right">
        <p class="item-date main red align">September 2006 - April 2009</p>
        </div>
    </div>

    </div>
</section>
<!-- Education ------------------------------------------------------------->
<section id="education">
    <div class="education-content content-padding">
    <h2 class="section-title title">Education</h2>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">York University</h3>
        <h4 class="item-subtitle title">Bachelor of Education</h4>
        <p class="item-text main small-text">English, Geography, Communications Technology</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">September 2007 - June 2011</p>
        </div>
    </div>

    <div class="item-wrapper">
        <article class="item">
        <h3 class="item-title title">York University</h3>
        <h4 class="item-subtitle title">Bachelor of Arts</h4>
        <p class="item-text main small-text">Graduated with Honours - Geography, Philosophy</p>
        </article>
        <div class="item-right">
        <p class="item-date main red align">September 2005 - June 2011</p>
        </div>
    </div>

    </div>

</section>
<!-- Skils ------------------------------------------------------------------>
<section id="skills">
    <div class="skills-content content-padding">
    <h2 class="section-title title">Skills</h2>
    <ul class="skill-icons red">
        <li class="icons no-margin-left">
        <fa-icon [icon]="['far', 'gem']" class="skill-icon" id="diamond" title="Sketch"></fa-icon>
        </li>
        <li class="icons">     
        <fa-icon [icon]="['fab', 'html5']" class="skill-icon" title="HTML"></fa-icon>
        </li>
        <li class="icons">
        <fa-icon [icon]="['fab', 'css3-alt']" class="skill-icon" title="CSS"></fa-icon>
        </li>
        <li class="icons">
        <fa-icon [icon]="['fab', 'js-square']" class="skill-icon" title="Javascript"></fa-icon>
        </li>
        <li class="icons">  
        <fa-icon [icon]="['fab', 'angular']" class="skill-icon" title="Angular"></fa-icon>
        </li>
        <li class="icons">
        <fa-icon [icon]="['fab', 'react']" class="skill-icon" title="React"></fa-icon>
        </li>
    </ul>

    <h4 class="item-subtitle title">Specializations</h4>
    <div class="list">
        <div class="list-item">
        <fa-icon [icon]="['fas', 'certificate']" class="trophy"></fa-icon>
        <p class="main indent">Adobe Creative Suite & Sketch</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'certificate']" class="trophy"></fa-icon>
        <p class="main indent">Responsive Design & Advanced CSS</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'certificate']" class="trophy"></fa-icon>
        <p class="main indent">Progressive Web App Development</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'certificate']" class="trophy"></fa-icon>
        <p class="main indent">Visual Studio/Visual Studio Code</p>
        </div>
    </div>

    </div>
</section>
<!-- Interests -------------------------------------------------------------->
<section id="interests">
    <div class="interests-content content-padding">
    <h2 class="section-title title">Interests</h2>
    <p class="item-text main">Outside of my work I have many other passions and hobbies. I have been writing and recording music for 15 years, which is a very rewarding outlet. I've also played hockey since I was 8 years old, including two years playing for Changwon City, South Korea. I have written, directed, and acted in film and theatre, including original works featured at both York University theatres.</p>
    <p class="item-text main">I loved playing video games from an early age and I indulge in my free time thanks to a custom gaming PC I built in 2017. I am very interested in science fiction and am always reading up on the latest technological advancements. I hope to work in the field of virtual reality later in my career.</p>
    </div>
</section>
<!-- Awards ----------------------------------------------------------------->
<section id="awards">
    <div class="awards-content content-padding">
    <h2 class="section-title title line-height">Awards & Certifications</h2>
    <div class="list">
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">Scrum Master Certification - 2019</p>
        </div>
        <div class="list-item">
            <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
            <p class="main indent small-text">CBC - MTIS Hackathon 2019 Winner</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">ZTM - Coding Challenge #3 Winner</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">Udemy - ZTM Full-Stack Development</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">FreeCodeCamp - Front End Development</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">Dunbarton H.S. - Web Design Proficiency</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">Dunbarton H.S. - Yearbook Proficiency</p>
        </div>
        <div class="list-item">
        <fa-icon [icon]="['fas', 'trophy']" class="trophy"></fa-icon>
        <p class="main indent small-text">Dunbarton H.S. - Journalism Award</p>
        </div>
    </div>
    </div>
    </section>
</div>
